.panel
  &-head
    display: flex
    justify-content: space-between
    align-items: center
    ul
      list-style: none
      padding: 10px 10px
      background: #2bb9b9
      border-radius: 22px
  &-title
    font-size: 25px
  &-body
    margin-bottom: 30px
  &-footer
    margin-bottom: 40px